In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("D:\\Downloads\\Tweets.csv")

In [5]:
data.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [6]:
data.shape

(14640, 15)

In [8]:
data.isnull().sum()

tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5462
negativereason_confidence        4118
airline                             0
airline_sentiment_gold          14600
name                                0
negativereason_gold             14608
retweet_count                       0
text                                0
tweet_coord                     13621
tweet_created                       0
tweet_location                   4733
user_timezone                    4820
dtype: int64

In [66]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Manirathinam\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [67]:
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
import string

In [68]:
def remove_punc(sent):
    try:
        word_list=[]
        for word in sent:
            if not word in string.punctuation:
                word_list.append(word)
            else:
                continue
        final="".join(word for word in word_list)
    except:
        print(sent)
    return final

In [69]:
data['clean_text']=data['text'].apply(remove_punc)

In [70]:
tokenizer=RegexpTokenizer(r'\w+')
data['token_text']=data['clean_text'].apply(lambda x: tokenizer.tokenize(x.lower()))

In [115]:
stop_words = set(stopwords.words('english'))

In [116]:
def stop_word(words):
    try:
        word_list=[]
        for word in words:
            if not word in stop_words:
                word_list.append(word)
            else:
                continue
        final=" ".join([word for word in word_list])
    except:
        print(words)
    return final

In [117]:
data['stop_text']=data['token_text'].apply(stop_word)

In [118]:
data['stop_text'].head

<bound method NDFrame.head of 0                              virginamerica dhepburn said
1        virginamerica plus youve added commercials exp...
2        virginamerica didnt today must mean need take ...
3        virginamerica really aggressive blast obnoxiou...
4                       virginamerica really big bad thing
                               ...
14635       americanair thank got different flight chicago
14636    americanair leaving 20 minutes late flight war...
14637    americanair please bring american airlines bla...
14638    americanair money change flight dont answer ph...
14639    americanair 8 ppl need 2 know many seats next ...
Name: stop_text, Length: 14640, dtype: object>

In [122]:
stemmer=PorterStemmer()
def stemmer_func(words):
    final= "".join([stemmer.stem(word) for word in words])
    return final

In [123]:
data['stem_text']=data.stop_text.apply(stemmer_func)

In [124]:
data.stem_text

0                              virginamerica dhepburn said
1        virginamerica plus youve added commercials exp...
2        virginamerica didnt today must mean need take ...
3        virginamerica really aggressive blast obnoxiou...
4                       virginamerica really big bad thing
                               ...
14635       americanair thank got different flight chicago
14636    americanair leaving 20 minutes late flight war...
14637    americanair please bring american airlines bla...
14638    americanair money change flight dont answer ph...
14639    americanair 8 ppl need 2 know many seats next ...
Name: stem_text, Length: 14640, dtype: object

In [126]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [137]:
vect=TfidfVectorizer(max_features=2000)

In [138]:
sparse=vect.fit_transform(data['stem_text'])

In [139]:
sparse_pd=sparse.toarray()

In [140]:
fldata=pd.DataFrame(sparse_pd)

In [141]:
fldata

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.47702,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
14636,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
14637,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
14638,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0
14639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0

In [142]:
from sklearn.model_selection import train_test_split

In [143]:
x=fldata

In [144]:
y=data['airline_sentiment']

In [145]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.20)

In [147]:
from sklearn.ensemble import RandomForestClassifier

In [195]:
model=RandomForestClassifier(verbose=3)

In [196]:
model.fit(train_x,train_y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

building tree 1 of 10

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.2s remaining:    0.0s

building tree 2 of 10

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.4s remaining:    0.0s

building tree 3 of 10
building tree 4 of 10
building tree 5 of 10
building tree 6 of 10
building tree 7 of 10
building tree 8 of 10
building tree 9 of 10
building tree 10 of 10

[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    2.3s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=3, warm_start=False)

In [197]:
y_pred=model.predict(test_x)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished

In [198]:
data1=pd.DataFrame({'actual':test_y ,'predict':y_pred})

In [199]:
data1

         actual   predict
11284  negative  negative
13486  negative  negative
8679   negative   neutral
1963   negative  negative
11485  negative  negative
...         ...       ...
11190  negative  negative
2226   negative  negative
14338  negative  negative
11294  negative  negative
5929    neutral   neutral

[2928 rows x 2 columns]

In [200]:
from sklearn.metrics import classification_report

In [201]:
print(classification_report(test_y,y_pred))

              precision    recall  f1-score   support

    negative       0.78      0.92      0.84      1873
     neutral       0.56      0.39      0.46       602
    positive       0.72      0.51      0.60       453

    accuracy                           0.74      2928
   macro avg       0.69      0.60      0.63      2928
weighted avg       0.73      0.74      0.73      2928