In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("D:\\Downloads\\football.csv")

In [3]:
data.columns

Index(['AC', 'AF', 'AR', 'AS', 'AST', 'AY', 'AwayTeam', 'Date', 'FTR', 'HC',
       'HF', 'HR', 'HS', 'HST', 'HTAG', 'HTHG', 'HY', 'HomeTeam', 'league'],
      dtype='object')

In [4]:
data.isnull().sum()

AC           9
AF          11
AR           9
AS           9
AST          9
AY           9
AwayTeam     7
Date         7
FTR          7
HC           9
HF          11
HR           9
HS           9
HST          9
HTAG        10
HTHG        10
HY          10
HomeTeam     7
league       0
dtype: int64

In [5]:
data=data.dropna(axis=0,how='any')

In [6]:
data.shape

(12776, 19)

In [7]:
data.drop(['Date'],axis=1,inplace=True)

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
oe=OneHotEncoder()

In [10]:
dummied=pd.get_dummies(data[['HomeTeam','AwayTeam','league']])

In [11]:
data1=data.drop(['HomeTeam','AwayTeam','league'],axis=1)

In [12]:
datafl=data1.merge(dummied,left_index=True,right_index=True)

In [13]:
datafl1=datafl.FTR

In [14]:
datafl2=datafl.drop('FTR',axis=1)

In [15]:
datafl2.head()

,AC,AF,AR,AS,AST,AY,HC,HF,HR,HS,...,AwayTeam_Wigan,AwayTeam_Wolfsburg,AwayTeam_Wolves,AwayTeam_Xerez,AwayTeam_Zaragoza,league_bundesliga,league_la-liga,league_ligue-1,league_premier-league,league_serie-a
0,3.0,12.0,0.0,14.0,4.0,0.0,6.0,12.0,0.0,13.0,...,0,0,0,0,0,1,0,0,0,0
1,1.0,10.0,0.0,7.0,0.0,1.0,16.0,8.0,0.0,24.0,...,0,0,0,0,0,1,0,0,0,0
2,3.0,20.0,0.0,15.0,3.0,2.0,5.0,16.0,0.0,10.0,...,0,0,0,0,0,1,0,0,0,0
3,10.0,28.0,0.0,9.0,3.0,2.0,3.0,10.0,0.0,9.0,...,0,0,0,0,0,1,0,0,0,0
4,5.0,28.0,0.0,13.0,7.0,2.0,3.0,22.0,0.0,8.0,...,0,0,0,0,0,1,0,0,0,0

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x=datafl2

In [18]:
y=datafl1

In [19]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
model=RandomForestClassifier(n_estimators=100,max_depth=20)

In [22]:
model.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=20, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
y_pred=model.predict(test_x)

In [24]:
pd.DataFrame({'actual':test_y,'predict':y_pred})

     actual predict
3142      H       H
3177      A       H
8283      A       A
9703      A       A
433       H       H
...     ...     ...
2486      D       H
2405      H       H
8975      A       H
8022      H       H
9999      H       H

[2556 rows x 2 columns]

In [25]:
from sklearn.metrics import classification_report

In [26]:
print(classification_report(test_y,y_pred))

              precision    recall  f1-score   support

           A       0.66      0.69      0.68       719
           D       0.57      0.16      0.25       675
           H       0.65      0.91      0.76      1162

    accuracy                           0.65      2556
   macro avg       0.63      0.58      0.56      2556
weighted avg       0.63      0.65      0.60      2556

In [27]:
from sklearn.model_selection import GridSearchCV

In [28]:
model=RandomForestClassifier()

In [29]:
param_grid={'n_estimators':[25,75,100,150],'max_features':[85,100,120],'max_depth':[20,25,30]}

In [30]:
grid_cv=GridSearchCV(model,param_grid,cv=3)

In [31]:
grid_cv.fit(train_x,train_y)

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [20, 25, 30],
                         'max_features': [85, 100, 120],
                         'n_estimators': [25, 75, 100, 150]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [32]:
grid_cv.best_params_

{'max_depth': 30, 'max_features': 85, 'n_estimators': 150}

In [33]:
grid_cv.best_score_

0.6533268101761253