In [8]:
import pandas as pd

In [9]:
data = pd.read_csv("D:\\Downloads\\chennai_reviews.csv")

In [10]:
data.isnull().sum()

Hotel_name              0
Review_Title          427
Review_Text             1
Sentiment               2
Rating_Percentage       1
Unnamed: 5           4704
Unnamed: 6           4765
Unnamed: 7           4767
Unnamed: 8           4767
dtype: int64

In [11]:
data.shape

(4768, 9)

In [12]:
data.head()

,Hotel_name,Review_Title,Review_Text,Sentiment,Rating_Percentage,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Accord Metropolitan,Excellent comfortableness during stay,Its really nice place to stay especially for b...,3,100,NaN,NaN,NaN,NaN
1,Accord Metropolitan,Not too comfortable,It seems that hotel does not check the basic a...,1,20,NaN,NaN,NaN,NaN
2,Accord Metropolitan,NaN,Worst hotel I have ever encountered. I will ne...,1,20,NaN,NaN,NaN,NaN
3,Accord Metropolitan,Best hotel,Had a good time in this hotel and the staff Ku...,3,100,NaN,NaN,NaN,NaN
4,Accord Metropolitan,NaN,good hotel and staff Veg food good non veg bre...,3,100,NaN,NaN,NaN,NaN

In [13]:
data.dropna(subset=['Review_Text','Sentiment'],axis=0,inplace=True)

In [14]:
data.shape

(4766, 9)

In [15]:
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
import string

In [16]:
def remove_punc(sent):
    try:
        word_list=[]
        for word in sent:
            if not word in string.punctuation:
                 word_list.append(word)
            else:
                continue
        final="".join(word for word in word_list)
    except:
        print(sent)
    return final

In [17]:
data['clean_text']=data['Review_Text'].apply(remove_punc)

In [18]:
tokenizer=RegexpTokenizer(r'\w+')
data['clean_token']=data.clean_text.apply(lambda x: tokenizer.tokenize(x.lower()))

In [19]:
stemmer=PorterStemmer()
def stemmer_func(words):
    final= " ".join([stemmer.stem(word) for word in words])
    return final

In [20]:
data['stem_word']=data.clean_token.apply(stemmer_func)

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [22]:
vect=TfidfVectorizer(max_features=1000)

In [23]:
sparse=vect.fit_transform(data['stem_word'])

In [24]:
sparse_pd=sparse.toarray()

In [25]:
fldata=pd.DataFrame(sparse_pd)

In [26]:
fldata

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.101964,0.0,0.0,0.0,0.0,0.087123,0.119691
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.352824,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4761,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
4762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
4763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
4764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000
4765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x=fldata

In [29]:
y=data['Sentiment']

In [30]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)

In [31]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
model=RandomForestClassifier(max_depth=20,n_estimators=100,verbose=4)

In [37]:
model.fit(train_x,train_y)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s remaining:    0.0s

building tree 1 of 100
building tree 2 of 100
building tree 3 of 100
building tree 4 of 100
building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100
building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    1.4s finished

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=20, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=4, warm_start=False)

In [47]:
y_pred=model.predict(test_x)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [49]:
final=pd.DataFrame({'actual':test_y,'Predicted':y_pred})

In [52]:
final

                                                 actual Predicted
4629                                                  2         2
4073                                                  2         3
1232                                                  2         3
128                                                   3         3
2798                                                  3         3
...                                                 ...       ...
240                                                   2         2
4683                                                  3         3
2146                                                  3         3
3099                                                  3         3
2064  y enjoyed the one night stay at Gokulam Park S...         3

[954 rows x 2 columns]

In [50]:
from sklearn.metrics import classification_report,accuracy_score

In [45]:
    print(accuracy_score(test_y,y_pred))

0.7704402515723271

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
model=GradientBoostingClassifier()

In [ ]:
model.fit(train_x,train_y)

In [ ]:
y_pred=model.predict(test_x)

In [ ]:
from sklearn.metrics import classification_report,accuracy_score

In [ ]:
print(accuracy_score(test_y,y_pred))