In [3]:
import pandas as pd

In [4]:
data=pd.read_excel("D:\\Downloads\\Retail_New.xlsx")

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1443 entries, 0 to 1442
Data columns (total 8 columns):
Invoice        1443 non-null object
StockCode      1443 non-null object
Description    1442 non-null object
Quantity       1443 non-null int64
InvoiceDate    1443 non-null datetime64[ns]
Price          1443 non-null float64
Customer ID    1442 non-null float64
Country        1443 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 90.3+ KB

In [6]:
data.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1438,536542,20711,JUMBO BAG TOYS,20,2010-12-01 14:11:00,1.95,16456.0,United Kingdom
1439,536542,20713,JUMBO BAG OWLS,30,2010-12-01 14:11:00,1.95,16456.0,United Kingdom
1440,536542,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,2010-12-01 14:11:00,2.95,16456.0,United Kingdom
1441,C536543,22632,HAND WARMER RED RETROSPOT,-1,2010-12-01 14:30:00,2.10,17841.0,United Kingdom
1442,C536543,22355,CHARLOTTE BAG SUKI DESIGN,-2,2010-12-01 14:30:00,0.85,17841.0,United Kingdom

In [7]:
data['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE'], dtype=object)

In [8]:
data['Country'].isnull().any()

False

In [9]:
data['Price'].isnull().any()

False

In [27]:
data.Description.isnull().any()

False

In [28]:
data.dropna(axis=0,how="any",inplace=True)

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
le=LabelEncoder()

In [23]:
le.fit(data['Country'])

LabelEncoder()

In [24]:
le.classes_

array(['Australia', 'EIRE', 'France', 'Germany', 'Netherlands', 'Norway',
       'United Kingdom'], dtype=object)

In [26]:
le.transform(data['Country'])

array([6, 6, 6, ..., 6, 6, 6])

In [26]:
from sklearn.preprocessing import OneHotEncoder

In [27]:
la=OneHotEncoder()

In [29]:
la.fit(data['Country'])

KeyError: ('Country', 0)

In [30]:
pd.get_dummies(data.Country)

      Australia  EIRE  France  Germany  Netherlands  Norway  United Kingdom
0             0     0       0        0            0       0               1
1             0     0       0        0            0       0               1
2             0     0       0        0            0       0               1
3             0     0       0        0            0       0               1
4             0     0       0        0            0       0               1
...         ...   ...     ...      ...          ...     ...             ...
1438          0     0       0        0            0       0               1
1439          0     0       0        0            0       0               1
1440          0     0       0        0            0       0               1
1441          0     0       0        0            0       0               1
1442          0     0       0        0            0       0               1

[1443 rows x 7 columns]