In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("D:\\Downloads\\stock_market_index.csv")

In [12]:
data.head()

,Unnamed: 0,Year,Month,Interest_Rate,Unemployment_Rate,Stock_Index_Price
0,0,2017,12,2.75,5.3,1464
1,1,2017,11,2.50,5.3,1394
2,2,2017,10,2.50,5.3,1357
3,3,2017,9,2.50,5.3,1293
4,4,2017,8,2.50,5.4,1256

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
x=data[['Interest_Rate','Unemployment_Rate']]

In [5]:
y=data['Stock_Index_Price']

In [11]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)

In [10]:
train_y.shape

(20, 2)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
model=LinearRegression()

In [15]:
model.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
y_pred=model.predict(test_x)

In [18]:
pd.DataFrame({'actual':test_y,'predicted':y_pred})

    actual    predicted
12    1047   978.980942
7     1195  1204.708323
20     876   937.252469
18     884   875.919500
2     1357  1338.436250

In [19]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [20]:
mse = mean_squared_error(test_y, y_pred)
print(mse)

1776.5232122961957

In [23]:
mae = mean_absolute_error(test_y, y_pred)
print(mae)

33.124820090327056

In [25]:
model.score(test_x, test_y)

0.9479754100328632

In [37]:
from sklearn.preprocessing import Normalizer, minmax_scale

In [43]:
Normalizer.fit_transform(data['Stock_Index_Price'])

TypeError: fit_transform() missing 1 required positional argument: 'X'

In [46]:
from sklearn import preprocessing

preprocessing.normalize(data[['Interest_Rate', 'Unemployment_Rate','Stock_Index_Price']])

array([[0.0018784 , 0.00362019, 0.99999168],
       [0.00179338, 0.00380198, 0.99999116],
       [0.00184228, 0.00390564, 0.99999068],
       [0.00193347, 0.00409895, 0.99998973],
       [0.00199042, 0.00429931, 0.99998878],
       [0.0019936 , 0.00446566, 0.99998804],
       [0.00202591, 0.004457  , 0.99998802],
       [0.00188282, 0.00460245, 0.99998764],
       [0.0019413 , 0.00474541, 0.99998686],
       [0.00192799, 0.00479856, 0.99998663],
       [0.00176989, 0.00504418, 0.99998571],
       [0.00186043, 0.00548828, 0.99998321],
       [0.00191018, 0.00573055, 0.99998176],
       [0.00181343, 0.00611387, 0.99997967],
       [0.00185574, 0.00615046, 0.99997936],
       [0.00182668, 0.00636729, 0.99997806],
       [0.00180223, 0.00638503, 0.99997799],
       [0.00184401, 0.00642768, 0.99997764],
       [0.00197959, 0.00690027, 0.99997423],
       [0.00202073, 0.00704369, 0.99997315],
       [0.00199767, 0.00673499, 0.99997532],
       [0.00212889, 0.00754235, 0.99996929],
       [0.00248569, 0.00880645, 0.99995813],
       [0.00243384, 0.00848368, 0.99996105]])

In [49]:
preprocessing.scale(data[['Interest_Rate', 'Unemployment_Rate','Stock_Index_Price']])

array([[ 1.97880334, -1.47026414,  1.90945173],
       [ 1.24816826, -1.47026414,  1.57013727],
       [ 1.24816826, -1.47026414,  1.39078534],
       [ 1.24816826, -1.47026414,  1.08055498],
       [ 1.24816826, -1.16073485,  0.90120305],
       [ 1.24816826, -0.54167626,  0.89150835],
       [ 1.24816826, -0.85120556,  0.79456136],
       [ 0.51753318, -0.85120556,  0.60551473],
       [ 0.51753318, -0.85120556,  0.43101015],
       [ 0.51753318, -0.54167626,  0.46978895],
       [-0.2131019 , -0.23214697,  0.29043702],
       [-0.2131019 ,  0.38691162,  0.0238328 ],
       [-0.2131019 ,  0.69644091, -0.11189298],
       [-0.94373698,  0.38691162, -0.50937564],
       [-0.94373698,  0.07738232, -0.61601732],
       [-0.94373698,  1.0059702 , -0.54330708],
       [-0.94373698,  1.3154995 , -0.48029154],
       [-0.94373698,  1.0059702 , -0.58693323],
       [-0.94373698,  1.0059702 , -0.90201094],
       [-0.94373698,  1.0059702 , -0.98926323],
       [-0.94373698,  0.38691162, -0.94078974],
       [-0.94373698,  1.3154995 , -1.20254661],
       [-0.94373698,  1.3154995 , -1.77453384],
       [-0.94373698,  1.0059702 , -1.7018236 ]])