In [2]:

import pandas as pd

In [3]:
data=pd.read_csv("D:\\Downloads\\churn.csv")

In [4]:
data.shape

(3333, 21)

In [5]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [6]:
data.isnull().sum()

State             0
Account Length    0
Area Code         0
Phone             0
Int'l Plan        0
VMail Plan        0
VMail Message     0
Day Mins          0
Day Calls         0
Day Charge        0
Eve Mins          0
Eve Calls         0
Eve Charge        0
Night Mins        0
Night Calls       0
Night Charge      0
Intl Mins         0
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()

In [9]:
data.State=le.fit_transform(data.State)

In [10]:
data.columns

Index(['State', 'Account Length', 'Area Code', 'Phone', 'Int'l Plan',
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls', 'Churn?'],
      dtype='object')

In [11]:
data.iloc[:,4]=le.fit_transform(data.iloc[:,4])

In [12]:
data.iloc[:,5]=le.fit_transform(data.iloc[:,5])

In [13]:
data=data.drop('Phone',axis=1)

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x=data.iloc[:,0:17]

In [16]:
x.shape

(3333, 17)

In [17]:
y=data['Churn?']

In [18]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
model=LogisticRegression()

In [21]:
model.fit(train_x,train_y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
y_pred=model.predict(test_x)

In [23]:
from sklearn.model_selection import cross_validate

In [24]:
cross_validate(LogisticRegression(),x,y,cv=3)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

{'fit_time': array([0.05355906, 0.09158945, 0.04123855]),
 'score_time': array([0.0320828 , 0.00405526, 0.00413156]),
 'test_score': array([0.85868587, 0.85688569, 0.85778578])}

In [25]:
pd.DataFrame({'actual':test_y,'predict':y_pred})

      actual predict
1893   True.  False.
1019  False.  False.
1491  False.  False.
2790  False.  False.
1777   True.  False.
...      ...     ...
301    True.  False.
2989   True.  False.
1123  False.  False.
2     False.  False.
427   False.  False.

[667 rows x 2 columns]

In [26]:
from sklearn.metrics import accuracy_score,confusion_matrix,recall_score,precision_score,f1_score,roc_curve

In [27]:
accuracy_score(test_y,y_pred)

0.8770614692653673

In [28]:
confusion_matrix(test_y,y_pred)

array([[573,   7],
       [ 75,  12]], dtype=int64)

In [29]:
precision_score(test_y,y_pred)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1243: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if pos_label not in present_labels:

ValueError: pos_label=1 is not a valid label: array(['False.', 'True.'], dtype='<U6')

In [30]:
import pandas as pd

In [31]:
data=pd.read_csv("D:\\Downloads\\churn.csv")

In [32]:
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [33]:
data.columns

Index(['State', 'Account Length', 'Area Code', 'Phone', 'Int'l Plan',
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls', 'Churn?'],
      dtype='object')

In [34]:
data.isnull().sum()

State             0
Account Length    0
Area Code         0
Phone             0
Int'l Plan        0
VMail Plan        0
VMail Message     0
Day Mins          0
Day Calls         0
Day Charge        0
Eve Mins          0
Eve Calls         0
Eve Charge        0
Night Mins        0
Night Calls       0
Night Charge      0
Intl Mins         0
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
dtype: int64

In [35]:
gt_dm=pd.get_dummies(data[['State','VMail Plan']])

In [36]:
gt_dm1=pd.get_dummies(data.iloc[:,4])

In [37]:
gt_dm2=pd.get_dummies(data["Int'l Plan"])

In [38]:
data1=data.drop(['State','VMail Plan',"Int'l Plan"],axis=1)

In [39]:
data1.head()

,Account Length,Area Code,Phone,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,128,415,382-4657,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,107,415,371-7191,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,137,415,358-1921,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,84,408,375-9999,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,75,415,330-6626,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [40]:
datafl=data1.merge(gt_dm,left_index=True,right_index=True)

In [41]:
datafl1=datafl.merge(gt_dm1,left_index=True,right_index=True)

In [42]:
datafl2=datafl1.merge(gt_dm2,left_index=True,right_index=True)

In [43]:
datafl2.head()

,Account Length,Area Code,Phone,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,...,State_WA,State_WI,State_WV,State_WY,VMail Plan_no,VMail Plan_yes,no_x,yes_x,no_y,yes_y
0,128,415,382-4657,25,265.1,110,45.07,197.4,99,16.78,...,0,0,0,0,0,1,1,0,1,0
1,107,415,371-7191,26,161.6,123,27.47,195.5,103,16.62,...,0,0,0,0,0,1,1,0,1,0
2,137,415,358-1921,0,243.4,114,41.38,121.2,110,10.30,...,0,0,0,0,1,0,1,0,1,0
3,84,408,375-9999,0,299.4,71,50.90,61.9,88,5.26,...,0,0,0,0,1,0,0,1,0,1
4,75,415,330-6626,0,166.7,113,28.34,148.3,122,12.61,...,0,0,0,0,1,0,0,1,0,1

In [44]:
datafl2.columns

Index(['Account Length', 'Area Code', 'Phone', 'VMail Message', 'Day Mins',
       'Day Calls', 'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge',
       'Night Mins', 'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?', 'State_AK', 'State_AL',
       'State_AR', 'State_AZ', 'State_CA', 'State_CO', 'State_CT', 'State_DC',
       'State_DE', 'State_FL', 'State_GA', 'State_HI', 'State_IA', 'State_ID',
       'State_IL', 'State_IN', 'State_KS', 'State_KY', 'State_LA', 'State_MA',
       'State_MD', 'State_ME', 'State_MI', 'State_MN', 'State_MO', 'State_MS',
       'State_MT', 'State_NC', 'State_ND', 'State_NE', 'State_NH', 'State_NJ',
       'State_NM', 'State_NV', 'State_NY', 'State_OH', 'State_OK', 'State_OR',
       'State_PA', 'State_RI', 'State_SC', 'State_SD', 'State_TN', 'State_TX',
       'State_UT', 'State_VA', 'State_VT', 'State_WA', 'State_WI', 'State_WV',
       'State_WY', 'VMail Plan_no', 'VMail Plan_yes', 'no_x', 'yes_x', 'no_y',
       'yes_y'],
      dtype='object')

In [45]:
from sklearn.model_selection import train_test_split

In [63]:
x=datafl2[['Account Length', 'Area Code', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls', 'State', 'VMail Plan', '0_x', '1_x', '0_y',
       '1_y']]

KeyError: "['0_y', 'VMail Plan', 'State', '1_x', '0_x', '1_y'] not in index"

In [47]:
y=datafl2['Churn?']

In [48]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)

In [49]:

from sklearn.tree import DecisionTreeClassifier

In [50]:
model=DecisionTreeClassifier(max_depth = 10,min_samples_leaf=20 )

In [51]:
model.fit(train_x,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=20, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [52]:
y_pred=model.predict(test_x)

In [53]:
from sklearn.metrics import classification_report

In [54]:
print(classification_report(test_y,y_pred))

              precision    recall  f1-score   support

      False.       0.93      0.98      0.95       572
       True.       0.81      0.54      0.65        95

    accuracy                           0.92       667
   macro avg       0.87      0.76      0.80       667
weighted avg       0.91      0.92      0.91       667

In [55]:
print(classification_report(test_y,y_pred))

              precision    recall  f1-score   support

      False.       0.93      0.98      0.95       572
       True.       0.81      0.54      0.65        95

    accuracy                           0.92       667
   macro avg       0.87      0.76      0.80       667
weighted avg       0.91      0.92      0.91       667

In [56]:
model.get_depth()

10

In [57]:
model.get_n_leaves()

60

In [58]:
datafl2.columns

Index(['Account Length', 'Area Code', 'Phone', 'VMail Message', 'Day Mins',
       'Day Calls', 'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge',
       'Night Mins', 'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?', 'State_AK', 'State_AL',
       'State_AR', 'State_AZ', 'State_CA', 'State_CO', 'State_CT', 'State_DC',
       'State_DE', 'State_FL', 'State_GA', 'State_HI', 'State_IA', 'State_ID',
       'State_IL', 'State_IN', 'State_KS', 'State_KY', 'State_LA', 'State_MA',
       'State_MD', 'State_ME', 'State_MI', 'State_MN', 'State_MO', 'State_MS',
       'State_MT', 'State_NC', 'State_ND', 'State_NE', 'State_NH', 'State_NJ',
       'State_NM', 'State_NV', 'State_NY', 'State_OH', 'State_OK', 'State_OR',
       'State_PA', 'State_RI', 'State_SC', 'State_SD', 'State_TN', 'State_TX',
       'State_UT', 'State_VA', 'State_VT', 'State_WA', 'State_WI', 'State_WV',
       'State_WY', 'VMail Plan_no', 'VMail Plan_yes', 'no_x', 'yes_x', 'no_y',
       'yes_y'],
      dtype='object')

In [59]:
model.feature_importances_

array([0.01028303, 0.00823837, 0.        , 0.12719492, 0.06651254,
       0.00643982, 0.00599544, 0.00343104, 0.27537388, 0.06093079,
       0.01017375, 0.08494771, 0.06331524, 0.0180302 , 0.00513999,
       0.14153965, 0.11245362])

In [60]:
model.n_features_

17

In [61]:
train_x.shape

(2666, 17)

In [62]:
train_x.columns

Index(['State', 'Account Length', 'Area Code', 'Int'l Plan', 'VMail Plan',
       'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge', 'Eve Mins',
       'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls', 'Night Charge',
       'Intl Mins', 'Intl Calls'],
      dtype='object')