In [1]:
import pandas as pd

In [10]:
data=pd.read_csv("D:\\Downloads\\petrol_consumption.csv")

In [11]:
data.tail()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
43,7.0,3745,2611,0.508,591
44,6.0,5215,2302,0.672,782
45,9.0,4476,3942,0.571,510
46,7.0,4296,4083,0.623,610
47,7.0,5002,9794,0.593,524

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x=data[['Petrol_tax','Average_income','Paved_Highways','Population_Driver_licence(%)']]

In [14]:
y=data['Petrol_Consumption']

In [28]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=1025)

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
model=LinearRegression()

In [31]:
model.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
y_pred=model.predict(test_x)

In [33]:
pd.DataFrame({'actual':test_y,'predict':y_pred})

    actual     predict
14     566  647.416733
22     464  405.874882
33     628  600.645829
0      541  510.913493
32     577  654.115178
12     525  564.418783
17     714  581.392474
7      467  481.872611
43     591  529.844463
47     524  583.490253

In [34]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [35]:
mse=mean_squared_error(test_y,y_pred)
print(mse)

4424.629400426782

In [36]:
mae=mean_absolute_error(test_y,y_pred)
print(mae)

58.16424187247876

In [37]:
model.score(test_x,test_y)

0.12161109018151284